*{
    margin: 0;
    padding: 0;
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
    height: auto;
    min-height: 100vh;
    background-color: wheat;
    width: 100%;
}
a{
    text-decoration: none;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',  Verdana, sans-serif;
}
.social-container{
    width: 250px;
    height: 50px;
    background-color: transparent;
    position: absolute;
    float: right;
    right: 10px;
    z-index: 99;
    top: 10px;
    display: flex;
    justify-content: space-around;
}
.social-container img{
    box-shadow:0 0px 4px 0px black;
    width: 30px;
    height: 30px;
    margin: auto;
}
.resume{
    position: absolute;
    float: right;
    top: 90vh;
    right: 0px;
    width: 60px;
    height: fit-content;
}
.resume button{
    border:2px solid black;
    background-color:transparent;
    color: blanchedalmond;
    font-size: 20px;
    font-weight: 900;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: all 1s ease;
    z-index: 99;
}
.main-container{
    display: block;
    position: relative;
    padding:0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background:linear-gradient(#e3e0cf,#e3e0cf);
}
.container1{
    position: relative;
    display: flex;
    justify-content: center;
    background-image: url(man-wearing-face-mask-3942124.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-origin: content-box;
    

}
.main-left{
    max-width:250px;
    width: 22vw;
    margin: auto;
    position: relative;
    left: 0;
    top: 0px;
    height: 100vh;
    background-color: black;
    background: linear-gradient(rgb(6, 6, 49),black);
}
.main-right
{
    position: relative;
    width:800vw;
    height: 100vh;
    margin: 0;
    background: transparent;
}
.cont-left{
    height: 100vh;
    margin: auto;
     display: grid;
     place-items: center;
    align-items: center;
}    
.cont-left .about{
    gap: 10px;
    width: 18vw;
    background-color: transparent;
    margin: auto auto auto auto;
    display: grid;
    height: fit-content;
    place-items: center;
    color: gray;
    font-family: monospace;
    align-items: center;
}
.cont-left span{
    font-size: 3em;
    font-weight: bolder;
    color: grey;
    margin:  auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: auto;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: all 1s;
    text-shadow: 2px 2px   transparent;
    background-color: transparent;
    transition: .1s all linear;
}
.cont-left span:hover{
    color: rgb(56, 238, 117);
    text-shadow: 0 0 10px rgb(38, 224, 110),
                 0 0 20px rgb(31, 212, 61),
                 0 0 30px rgb(79, 230, 59),
                 0 0 40px rgb(36, 221, 119) ;
}
.cont-right{
    width: 90%;
    margin: auto;
    height: 100%;
    display: grid;
    place-items: center;
}
.cont-right .hlo{
    color:grey;
    font-size: 8vw;        
    transition:.1s all  linear;
    cursor: pointer;
}
.cont-right .hlo span:hover{
    
    color: rgb(248, 33, 140);
    text-shadow: 0 0 30px rgb(245, 78, 162),
                 0 0 60px rgb(243, 83, 163),
                 0 0 90px rgb(241, 57, 149),
                 0 0 120px rgb(94, 56, 75) ;
}
.container2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    transition: 1s ease;
    background:linear-gradient(to right,#e3e0cf 50%,black 50%);
}
.pro-pic{
    width: 100%;
    height: 200px;
    position: relative;
    top: 10vh;
    left: 0;
    display: flex;
    justify-content: center;
}
.pro-pic .image{
    width: 200px;
    height: 200px;
    clip-path: polygon(20% 0%,0% 20%,30% 50%,0% 80%,20% 100%,50% 70%,
    80% 100%,100% 80%,70% 50%,100% 20%,80% 0%,50% 20%);
}
.container2 .left{
    position: relative;
    top: 0;
    width: 50%;
    height: calc(100vh);
    background-color: transparent;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container2 .left img{
    width: 100%;
    height: 60vh;
}
.container2 .right{
    width: 50%;
    position: relative;
    right:0;
    top: -200px;
    height: 100vh;
    background-color: transparent;
    color:white;
    text-align: center;
    z-index: 2;
    overflow-y: auto;
    display: grid;
    place-items: center;}
.container2 .right h1{
    color:white;
    font-family: 'Josefin Sans',sans-serif;
    font-size: 3em;
}
.container2 .right .cont{
    width:90%;
    margin: auto;
    letter-spacing: 1px;
}
.container3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}
.container3 .right{
    width: 50%;
    height: 100%;
    background-color: #e3e0cf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
   /* background-image: url(PSX_20200710_080034.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;*/
}
.container3 .right img{
    width: 100px;
    height: 100px;
}
.container3 .right h1{
    font-size:3em;
    color:black;

}
.container3 .left{
    position: relative;
    display: flex;
    overflow-y: scroll;
    width: 50%;
    height: 100vh;
    flex-direction: column;
}
.container3 .left h1{
    font-size: 30px;
   
}
.container3 .left::-webkit-scrollbar{
    width:8px;
}
.container3 .left::-webkit-scrollbar{
    background: initial;
}
.container3 .left::-webkit-scrollbar-thumb{
    background: linear-gradient(to top,
    rgb(153, 153, 243) ,
    rgb(150, 240, 179));
    height: 20px;
    border-radius: 10px;
}
.container3 .left section{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(autofill,1fr);
}
.container3 .left section .tech-skill{
    height: fit-content;
    width: 100%;
    display: grid;
    place-items: center;
    height: 55vh;
    text-align: center;
    grid-gap: 20px;
    background-color:black ;
    padding: 30px 0;
    color: white;
}
.container3 .left section .tech-skill img{
    width: 80px;
    height: 80px;
}
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .swiper-slide {
    display: grid;
    place-items: center;   
    width: 90%;
    max-width: 270px;
    height: 300px;
  }
  .tech-skill .swiper-slide{
    background-color:black;
    font-size: 15px;
  }
  .container3 .left section .org-skill{
    height: fit-content;
    width: 100%;
    display: grid;
    place-items: center;
    min-height: 55vh;
    font-size:12px ;
    grid-gap: 20px;
    background-color:black ;
    padding: 30px 0;
    text-align: center;
    color: white;
}
.org-skill .swiper-slide{
    background-color: transparent;
    text-align: center;
    width: 300px;
    color:black;
}
.card{
    transition: all 1s linear;
    text-align:center;
    align-items:center;
    width: 250px;
    height: 300px;
    display: grid;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    place-items: center;
    margin: auto;
    color: black;
    background: white;
}
.container3 .left section .org-skill .card{
    background: white;
    color: black;
}
.container3 .left section .org-skill .card h1{
    font-size:20px;      
}
.container4{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
}
.container4 .left{
    width: 50%;
    height: 100vh;
    background:#e3e0cf;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

}
.container4 .left h1{
    font-weight: bolder;
    font-size: 3em;
    color: black;
}
.container4 .right{
    width: 50%;
    height: 100vh;
    background:transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container4 .left img{
    width: 100px;
    height:100px;
}
.container4 .right h2{
    font-size: 15px;
    background-color: black;
    width:fit-content;
    padding: 10px;
    color:white;
}
.container4 .right h1{
    font-size:25px;
}
.container4 .right img{
    width: 80px;
    height: 80px;
}
.project1,.project2{
    margin:  auto;
    width: 100%;
    height:50vh;
    text-align: center;
    background: black;
}
.content1,.content2{
    display: block;
    position: relative;
    top:auto;
    left: 0;
    height: 70%;
    width:90%;
    margin: auto;
    max-width:700px ;
    padding:5px;
    z-index: 3;
    background:white;
    box-shadow:1px 4px 4px 1px black;
}
.hide1,.hide2{
    display: grid;
    place-items: center;
    text-align: center;
    transition: .4s all ease;
    position: relative;
    left:0;
    width:0;
    margin: auto;
    height:200px;
    padding: 0;
    opacity: 0;
    background:white;
    box-shadow:1px 4px 4px 1px black;
    z-index: 4;
    transform: translateY(-220px);
}
.hide1 i,.hide2 i{
    position: absolute;
    top:10px;
    left: 55%;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    
}
.container4 a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
}
.container5{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    justify-content: center;
    text-align: center;
    padding: auto;
    background-color: #e3e0cf;
}

.container5 h1{
    color: black;
}
.container5 .swiper-container {
    width: 90%;
    margin: 10vh auto ;
    height: 300px;
    max-width: 500px;
}
.container5 .swiper-slide{
    width:90%;
    max-width: 300px;
    background-color:transparent;
    box-shadow: 1px 4px 4px 1px black;
  }
.container5 .card{
    box-shadow: none;
    width: 90%;
    max-width: 300px;
    background: transparent;
    display: grid;
    place-items:center;
    text-align: center;
}
.container5 .card h1{
    font-size: 1.1em;
    color:black;
}
.container5 .card img{
    width: 80px;
    height: 80px;
}
.container5 .swiper-container{
    display: flex;
    flex-wrap: wrap;
}
.container6{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
    text-align: center;   
    background-color: black;
    color: white;
}
.fb-page{
    position: relative;
    width: 250px;
    height: 60vh;
    background-color: thistle;
    margin: 30px auto;
}




@media all and (max-width:600px){
    .social-container{
        width: 80%;
        
    }
    .resume{
        position: absolute;
        top: 80vh;
        right: 0;
    }
    .main-left{
        position: relative;
        left: 0;
        top:0;
    }
    .container2{
        display: grid;
        grid-template-columns:repeat(autofill,1fr);
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
        min-height: 100vh;
        height:fit-content;
        background:linear-gradient(to bottom,goldenrod 50%,black 50%);
        background: #1e1e26;
    }
    .container2 .left{
        order: 1;
        width: 100%;height: 50vh;

    }
    .pro-pic{
        order: 2;
        width: 100%;
        height:150px;
        position: relative;
        left: 0;
        top: calc(0vh);
        display: flex;
        justify-content: center;
    }
    .pro-pic .image{
        width: 150px;
        height: 150px;
        clip-path: polygon(20% 0%,0% 20%,30% 50%,0% 80%,20% 100%,50% 70%,
        80% 100%,100% 80%,70% 50%,100% 20%,80% 0%,50% 20%);
    }
    .container2 .right{
        width: 100%;
        order:3;
        height: 60vh;
        background-color: transparent;
    }
    .container2 .left{
        order: 1;
        position: relative;
        top: 0;
        width: 100%;
        height: calc(40vh);
        background-color: transparent;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .container2 .left img{
        width: 100%;
    }
    .container3{
        height:fit-content;
        min-height: 100vh;
        width: 100;
        overflow-y: visible;

    }
    .container3 .right{
        width: 100%;
        height: 40vh;
        order: 1;
    }
    .container3 .left{
        position: relative;
        display: flex;
        overflow-y: scroll;
        width: 100%;
        height: fit-content;
        order: 2;
        flex-direction: column;
    }
    .container3 .left section .tech-skill{
        width: 100%;
        overflow-x: hidden;
    }
    .container3 .left section .org-skill{
        width: 100%;
        overflow-x: hidden;
    }
    .swiper-container {
        width: 90%;
        padding-top: 50px;
        padding-bottom: 50px;
        margin: auto 0;
      }
    .card{
        width: 90%;
        height: 300px;
        max-width: 290px;
        margin: 0;
        padding: 0;
        font-family: 'Courier New', Courier, monospace;
        box-shadow: none;
        border-radius: none;
    }
    .card h1{
        font-size: 20px;
    }
      .swiper-slide {
        width: 90%;
        padding:0;
        max-width: 290px;
        height: 300px;
        margin: auto 0;    
      }
      .container4{
          height: fit-content;
          width: 100%;
          display: block;
      }
      .container4 .right{
          width: 100%;
          height: fit-content;
      }
    .container4 .left{
        width: 100%;
        height: 40vh;
        align-items: center;
        text-align: center;
    }
}